<ion-header>
  <ion-toolbar>
    <ion-title>{{ taskId ? 'Modifier la tâche' : 'Ajouter une tâche' }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addOrUpdateTask()">
    <ion-item>
      <ion-label position="floating">Titre de votre tâche</ion-label>
      <ion-input [(ngModel)]="taskTitle" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description de votre tâche</ion-label>
      <ion-input [(ngModel)]="taskDescription" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Deadline de votre tâche</ion-label>
      <ion-datetime [(ngModel)]="taskDeadline" name="deadline"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="taskPhoto">
      <ion-label>Photo</ion-label>
      <img [src]="taskPhoto" alt="Task Photo" style="max-height: 150px;" />
    </ion-item>

    <ion-button *ngIf="isAndroid" expand="full" (click)="takePhoto()">Take Photo</ion-button>
    <ion-button expand="full" type="submit" [disabled]="!taskTitle">Save Task</ion-button>
  </form>
</ion-content>
